
label {margin: 0}
img {margin: 0!important;}
input, select, textarea, input::placeholder{
    color: #969696!important;
}

.btn {font-weight: 600!important;}

a:hover{text-decoration: none;}

.col-md-3 {padding: 0}
.row {margin:0;}

.pointer {cursor: pointer!important}

.primary-color {color: #4B0082}
.grey-color {color: #969696}
.green-color {color: #489a71}
.white-color {color: #FFF!important}
.white-background {background-color: #FFF!important}
.grey-background {background-color: #333333!important}
.black-background {background-color:black}

.margin-top {margin-top: 1em;}
.center {justify-content: center; align-items: center; display: flex;}
.text-center {text-align: center;}

.big-font {font-size: 2em;}
.medium-font {font-size: 1.2em;}
.small-font {font-size: 0.8em;}
.semi-bold {font-weight: 400;}
.bold {font-weight: bold;}

.card-game {
    background-color: #FFF;
    margin-left: 30px;
    border-radius: 4px;
    margin-top: 14px;
    border: 1px solid #b4b4b4;
    box-shadow:  -1px 1px #b4b4b4,
         -2px 2px #b4b4b4,
         -3px 3px #b4b4b4,
         -4px 4px #b4b4b4,
         -5px 5px #b4b4b4;
}

.game-img {
    width: 100%;
    height: 165px;
}

.label-free {
    background-color: #489a71;
    padding: 1px 8px;
    border-radius: 2px;
    color: white
}

.btn-register {
    background: #4B0082;
    border: 2px solid #4B0082;
    color: white!important;
    font-weight: 500;
    transition: 1s all;
}

.btn-register:hover, .btn-register:focus, .btn-register:active {
    background: white;
    color: #4B0082!important;
    outline: none !important;
    box-shadow: none;
}

.btn-get {
    background: white;
    border: 2px solid #4B0082;
    color: #4B0082!important;
    font-weight: 500;
    transition: 1s all;
}

.btn-get:hover, .btn-get:focus, .btn-get:active {
    background: #4B0082;
    color: white!important;
    outline: none !important;
    box-shadow: none;
}

.form-control {
    outline: none !important;
    box-shadow: none!important;
}
.form-control:focus {
    border-color: #969696;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075)
  }

.footer {background-color: black; margin-top: 5em; padding: 30px}

.fgs:hover { color: white }
.see-project {transition: 0.5s all;}
.see-project:hover {color: white;}

.made {transform: 0.5s all;}
.made:hover {color: #6e329b!important;}

.language {margin-left: 50%;}


@media (max-width: 600px) {
.card-game {margin: 10px 30px;}
.language {margin-left: 0;}

}