m h dom mon dow user	command
00 03 * * * root /usr/bin/curl localhost:8080/core?pos=0
02 03 * * * root /usr/bin/curl localhost:8080/core?pos=10000
03 03 * * * root /usr/bin/curl localhost:8080/core?pos=20000
04 03 * * * root /usr/bin/curl localhost:8080/core?pos=30000
05 03 * * * root /usr/bin/curl localhost:8080/core?pos=40000
06 03 * * * root /usr/bin/curl localhost:8080/core?pos=50000
07 03 * * * root /usr/bin/curl localhost:8080/core?pos=60000
08 03 * * * root /usr/bin/curl localhost:8080/core?pos=70000
09 03 * * * root /usr/bin/curl localhost:8080/core?pos=80000
10 03 * * * root /usr/bin/curl localhost:8080/core?pos=90000